body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background-color: #1A2643; */
}
 
* {
    outline: none;
    user-select: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 50px;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, rgb(0, 0, 0), rgba(0, 0, 0, 0.142), rgba(0, 0, 0, 0));
}

main header {
    display: flex;
    color: #fff;
    align-items: center;
    margin-bottom: 20px;
    font-family: 'Arial';
    text-transform: uppercase;
}

main header .icon {
    width: 45px;
    height: 45px;
    display: flex;
    margin-right: 20px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    background: rgba(17, 17, 17, 0.4);
}

main header .text {
    display: flex;
    font-size: 12px;
    letter-spacing: 3px;
    flex-direction: column;
}

main header .text span {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 0px;
}

main section {
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

main .allcontent {
    position: relative;
    left: -6px;
    width: 104%;
    overflow: auto;
    direction: rtl;
    max-height: 455px;
    overflow-x: hidden;
    padding-left: 10px;
    margin-bottom: 7px;
}

main .allcontent .revert {
    padding: 15px;
    display: grid;
    border-radius: 10px;
    grid-template-columns: 1;
    background: linear-gradient(90deg, rgba(17, 17, 17, 0.597) 0%, rgba(17, 17, 17, 0.42) 100%);
}

main .allcontent .title {
    width: 98%;
    color: #fff;
    display: flex;
    font-size: 8px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 5px;
    white-space: nowrap;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
} .allcontent .title:first-child{margin-top: 0;}

main .allcontent .content {
    position: relative;
    width: 100%;
    height: 45px;
    display: flex;
    color: #fff;
    color: #848CEB;
    font-size: 11px;
    font-weight: 600;
    align-items: center;
    border-radius: 10px;
    letter-spacing: .5px;
    padding: 0 20px 0 15px;
    text-transform: uppercase;
    transition: all .2s;
    justify-content: space-between;
    background: rgba(17, 17, 17, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

main footer{display: flex;align-items: center;}
main footer button {
    width: 140px;
    padding: 12px;
    color: #fff;
    margin: 0 5px;
    font-weight: 500;
    border-radius: 5px;
    transition: all .2s;
    background-color: transparent;
    border: 1.5px solid rgba(255, 255, 255, 0.1);
} main footer button:hover {background-color: #848CEB;}

main .allcontent .content .item-info {
    display: flex;
    color: #fff;
    align-items: center;
}

main .allcontent .content img {
    max-width: 20px;
    margin-right: 10px;
}

main .allcontent .activeItem,
main .allcontent .content:hover {
border-color: #848CEB;}

::-webkit-scrollbar {
    width: 4px;
    border-radius:80px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb {
    border-radius:80px;
    background: #848CEB;
}