body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

main {
    position: absolute;
    top: 50%;
    right: 140px;
    width: 320px;
    height: 470px;
    padding: 15px;
    border-radius: 6px;
    transform: translate(0,-50%);
    background: rgba(0, 0, 0, 0.5);
    border: 3px solid rgba(255, 255, 255, 0.11);
}

b {
    color: #848CEB;
    font-weight: bold;
}

main h1 {
    color: #fff;
    font-size: 15px;
    margin-bottom: 1px;
    text-transform: uppercase;
}

main .subtitle {
    color: #fff;
    font-size: 8px;
    display: flex;
    align-items: center;
    letter-spacing: .5px;
    text-transform: uppercase;
}

main .notify-bell {
    position: absolute;
    z-index: 101;
    top: 18px;
    right: 30px;
    color: #fff;
}

main .notify-bell .number {
    position: absolute;
    top: -2px;
    right: -5px;
    width: 15px;
    height: 15px;
    display: flex;
    font-size: 10px;
    align-items: center;
    border-radius: 100%;
    justify-content: center;
    background-color: #848CEB;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.47);
}

main .notify-bell i {
    font-size: 25px;
}

main .notify-bell .notify-content {
    position: absolute;
    top: 40px;
    right: -10px;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}

main .notify-bell .notify-content .notify-item {
    width: 100%;
    color: #000;
    display: flex;
    margin-bottom: 7px;
    padding-bottom: 7px;
    flex-direction: column;
    border-bottom: 2px solid rgba(204, 204, 204, 0.2);
}

main .notify-bell .notify-content .notify-item:last-child {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}

main .notify-bell .notify-content .notify-item small {
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
}

main .notify-bell .notify-content .notify-item p {
    font-size: 9px;
    font-weight: 500;
}


main .notify-bell .notify-content .notify-item::before {
    content: '';
    position: absolute;
    right: 20px;
    top: -10px;

    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

main .subtitle p {
    opacity: .5;
    line-height: 13px;
}

main .rep-list {
    width: 100%;
    max-height: 305px;
    overflow: auto;
    margin-top: 15px;
}

main .item {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    padding: 10px;
    color: #fff;
    font-size: 12px;
    margin-bottom: 7px;
    border-radius: 3px;
    flex-direction: column;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0.3);
    border: 2px solid rgba(255, 255, 255, 0.11);
}

main .item .bar {
    width: 100%;
    height: 3px;
    margin-top: 7px;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.3);
}

main .item small {
    font-size: 8px;
    opacity: .5;
    font-weight: 500;
    letter-spacing: 1px;
}

main .item strong {
    font-size: 20px;
}

main .item .bar .fill {
    height: 100%;
    border-radius: 30px;
    background-color: #848CEB;
}

main .item::before {
    content: '';
    position: absolute;
    left: -1px;
    width: 2px;
    height: 80%;
    transition: all .2s;
    border-radius: 30px;
    background-color: #848deb2b;
}

main .item:hover::before {
    background-color: #848CEB;
}

main footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: rgba(0, 0, 0, 0.3);
}

main footer i {
    color: #848CEB;
    font-size: 25px;
    margin: 0 10px;
    
}

main footer .icon {
    width: 32px;
    height: 32px;
    display: flex;
    color: #fff;
    font-weight: 600;
    margin: 0 10px;
    border-radius: 3px;
    align-items: center;
    justify-content: center;
    background-color: #848CEB;
}

main footer p,
main footer .info-fac {
    position: relative;
    color: #fff;
    display: flex;
    font-size: 12px;
    white-space: nowrap;
    flex-direction: column;
}

main footer sub {
    position: relative;
    top: -1px;
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1px;
}

main footer span {
    font-size: 8px;
    margin-top: 2px;
    letter-spacing: .5px;
}

main footer .info-fac small {
    opacity: .5;
    font-size: 7px;
    font-weight: 400;
    letter-spacing: 1px;
}

main footer .bar {
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: rgba(204, 204, 204, 0.2);
}

main footer .fill {
    height: 100%;
    border-radius: 30px;
    transition: width .3s;
    background-color: #848CEB;
}

main footer .currentRep {
    position: absolute;
    top: 50%;
    right: 20px;
    color: #fff;
    display: flex;
    font-size: 10px;
    font-weight: 500;
    padding: 5px 30px;
    border-radius: 6px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transform: translate(0,-50%);
    background-color: rgba(0, 0, 0, 0.2);
}

main footer .currentRep small {
    opacity: .5;
    letter-spacing: .5px;
    font-size: 7px;
}

main footer .currentRep span {
    font-size: 12px;
    font-weight: 600;
    margin-top: 0;
}

#rep-tray {
    position: absolute;
    bottom: 35%;
    display: flex;
    margin-left: 35px;
    flex-direction: column;
}

#rep-tray .notify {
    position: relative;
    display: flex;
    font-size: 25px;
    margin-top: 5px;
    padding: 7px 10px;
    border-radius: 6px;
    transition: all .2s;
    background: #fff;
    align-items: center;
    animation: fadeIn .5s ease-in;
    border: 2px solid rgba(255, 255, 255, 0.11);
}

#rep-tray .notify i {
    opacity: .5;
    color: #ccc;
    font-size: 18px;
    margin-right: 10px;
}

#rep-tray .notify .text {
    width: 100%;
    display: flex;
    color: #000;
    font-size: 11.5px;
    font-weight: bold;
    word-wrap: break-word;
    align-content: center;
    flex-direction: column;
    text-transform: uppercase;
}

#rep-tray .notify .text p {
    opacity: .8;
    margin: 0;
    font-size: 10.5px;
    font-weight: 500;
    max-width: 260px;
    overflow: hidden;
    text-overflow: ellipsis;
    letter-spacing: 0.5px;
}

#clear {
    width: 100%;
    margin-top: 12px;
    color: #ccc;
    font-size: 8px;
    text-align: right;
    transition: all .2s;
    letter-spacing: 0.5px;
    text-transform: uppercase;
}

#clear:hover {
    color: rgb(110, 110, 110);
}

opacity {
    opacity: .5;
}

::-webkit-scrollbar {
    width: 0px;
}