body,
* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

#cursorPointer {
    position: absolute;
    z-index: 999999;
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
    display: none;
}

::-webkit-scrollbar-track {
    background: #20232e;
}

::-webkit-scrollbar-thumb {
    background: #11141d;
}

::-webkit-scrollbar-thumb:hover {
    background: #11141d;
}

#barbershop-limiter {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 80px;
    flex-direction: column;
    justify-content: center;
}

#barbershop-limiter .barbershop-container {
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 15px;
    border-radius: 5px;
    background: rgba(17, 17, 17, 0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#barbershop-limiter .barbershop-container .menu-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 20px;
}

#barbershop-limiter .barbershop-container .menu-area .menu-item {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    cursor: pointer;
    opacity: .5;
    background: rgba(0, 0, 0, 0.5);
    padding: 14px 0;
    font-size: 12px;
    color: #fff;
    font-weight: 600;
    border-radius: 5px;
    text-transform: uppercase;
    -webkit-transition: background .3s;
    transition: background .3s;
}

#barbershop-limiter .barbershop-container .menu-area .menu-item:first-child {
    margin-right: 10px;
}

#barbershop-limiter .barbershop-container .menu-area .menu-item.active,
#barbershop-limiter .barbershop-container .menu-area .menu-item:hover {
    opacity: 1;
    background: #848CEB;
}

#barbershop-limiter .barbershop-container .content-area {
    height: 100%;
    overflow: auto;
}

#barbershop-limiter .barbershop-container .content-area .option-separator {
    display: none;
}

#barbershop-limiter .barbershop-container .content-area .option-separator.active {
    display: block;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}


#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.19);
}

#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input:last-child {
    margin-bottom: 0px;
}

#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input label {
    text-transform: uppercase;
    font-weight: 600;
    width: 100%;
    color: #fff;
    padding: 10px;
    font-size: 10px;
    margin-bottom: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input .input-field {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.19);
}

#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input .input-field i {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all .2s;
    background-color: rgba(0, 0, 0, 0.2);
}

#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input .input-field i:hover {
    background-color: #848CEB;
}

#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input .input-field i:first-child {
    margin-right: 10px;
}

#barbershop-limiter .barbershop-container .content-area .option-separator .option-group .option-input .input-field i:last-child {
    margin-left: 10px;
}

@media (max-width: 1280px) {
    #barbershop-limiter .barbershop-container {
        width: 330px;
    }

    #barbershop-limiter .barbershop-container .submit-area .submit-button {
        padding: 15px 0;
        font-size: 15px;
    }
}

@media (min-width: 1281px) and (max-width: 1366px) {
    #barbershop-limiter .barbershop-container {
        width: 330px;
    }

    #barbershop-limiter .barbershop-container .submit-area .submit-button {
        padding: 15px 0;
        font-size: 15px;
    }
}

@media (min-width: 1367px) and (max-width: 1600px) {
    #barbershop-limiter .barbershop-container {
        width: 360px;
    }

    #barbershop-limiter .barbershop-container .submit-area .submit-button {
        padding: 20px 0;
        font-size: 17px;
    }
}

@media (min-width: 1601px) and (max-width: 1920px) {
    #barbershop-limiter .barbershop-container {
        width: 360px;
    }

    #barbershop-limiter .barbershop-container .submit-area .submit-button {
        padding: 20px 0;
        font-size: 17px;
    }
}

@media (min-width: 1921px) and (max-width: 2160px) {
    #barbershop-limiter .barbershop-container {
        width: 360px;
    }

    #barbershop-limiter .barbershop-container .submit-area .submit-button {
        padding: 20px 0;
        font-size: 17px;
    }
}

input {
    background-color: transparent;
    width: 100%;
}

input[type=range].styled-slider {
    height: 15px;
    -webkit-appearance: none;
}

input[type=range].styled-slider.slider-progress {
    --range: calc(var(--max) - var(--min));
    --ratio: calc((var(--value) - var(--min)) / var(--range));
    --sx: calc(0.5 * 8px + var(--ratio) * (100% - 8px));
}

input[type=range].styled-slider:focus {
    outline: none;
}

/*webkit*/
input[type=range].styled-slider::-webkit-slider-thumb {
    width: 12px;
    height: 19px;
    background: #fff;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-top: calc(6px * 0.5 - 10px * 0.5);
    -webkit-appearance: none;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

input[type=range].styled-slider::-webkit-slider-runnable-track {
    height: 15px;
    background: #A8AFC6;
    border: none;
    border-radius: 5px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-webkit-slider-runnable-track {
    background: -webkit-gradient(linear, left top, left bottom, from(#848CEB), to(#848CEB)) 0/var(--sx) 100% no-repeat, rgba(166, 166, 166, 0.08);
    background: linear-gradient(#848CEB, #848CEB) 0/var(--sx) 100% no-repeat, rgba(166, 166, 166, 0.08);
}

/*mozilla*/
input[type=range].styled-slider::-moz-range-thumb {
    width: 8px;
    height: 10px;
    background: #C7CCDA;
    border: none;
    box-shadow: none;
}

input[type=range].styled-slider::-moz-range-track {
    height: 6px;
    background: #A8AFC6;
    border: none;
    box-shadow: none;
}

input[type=range].styled-slider.slider-progress::-moz-range-track {
    background: linear-gradient(#6B7184, #6B7184) 0/var(--sx) 100% no-repeat, #A8AFC6;
}

/*ms*/
input[type=range].styled-slider::-ms-fill-upper {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-fill-lower {
    background: transparent;
    border-color: transparent;
}

input[type=range].styled-slider::-ms-thumb {
    width: 8px;
    height: 10px;
    background: #C7CCDA;
    border: none;
    box-shadow: none;
    margin-top: 0;
    box-sizing: border-box;
}

input[type=range].styled-slider::-ms-track {
    height: 6px;
    background: #A8AFC6;
    border: none;
    box-shadow: none;
    box-sizing: border-box;
}

input[type=range].styled-slider.slider-progress::-ms-fill-lower {
    height: 6px;
    margin: -undefined 0 -undefined -undefined;
    background: #6B7184;
    border: none;
    border-right-width: 0;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.btns {
    width: 360px;
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.btns button {
    border: 0;
    width: 46%;
    color: #fff;
    opacity: .5;
    padding: 15px 20px;
    text-align: left;
    transition: all .2s;
    border-radius: 5px;
    text-transform: uppercase;
    background: rgba(17, 17, 17, 0.5);
}

.btns button p {
    display: flex;
    font-weight: 600;
    flex-direction: column;
}

.btns button p small {
    opacity: .5;
    font-size: 7px;
    font-weight: 400;
    letter-spacing: .5px;
}

.btns button:last-child {
    opacity: 1;
    margin-left: 10px;
}

.btns button:last-child:hover {
    background-color: rgba(17, 17, 17, 0.8);
}

.roll {
    width: 100%;
    color: #fff;
    font-size: 10px;
    margin-top: 15px;
    text-align: right;
    font-weight: 500;
    text-transform: uppercase;
}

.roll i {
    color: #848CEB;
    margin-left: 5px;
}