* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    user-select: none;
    -webkit-font-smoothing: antialiased;

    -webkit-transform: translateZ(0);
    transform: translateZ(0);

    -webkit-font-smoothing: antialiased;
    text-transform: uppercase;
}


body {
    height: 100vh;
    width: 100vw;
    /* background-image: url(https://cdn.discordapp.com/attachments/893276914851147826/977001659064545342/unknown.png); */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    /* background-color: rgba(0, 0, 0, 0.6); */
}




input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.flicking-camera {
    display: flex !important;
}

/* =========================================================== */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    transition: all .5s;
    border-radius: 1000px;

}
  
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 1000px;
    transition: all .5s;

}

::-webkit-scrollbar-thumb {
    background: #ffffff18;
    border-radius: 1000px;
    transition: all .5s;
}

::-webkit-scrollbar-thumb:hover {
    background: #0071FF;
    transition: all .5s;

}